{% extends "::bootstrap.html.twig" %}

{% block title %}Ma Vallée Numérique{% endblock %}

{% block body %}
	<div class="col-lg-4">
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading" data-replace-tmp-key="37b3dca3312939d1728ac08ec3f4a935"><os-p key="37b3dca3312939d1728ac08ec3f4a935">Please sign in</os-p></h2>
        <input type="email" class="form-control" placeholder="Adresse de courriel" required autofocus data-translatable-string="Email address">
        <input type="password" class="form-control" placeholder="Mot de passe" required data-translatable-string="Password">
        <div class="checkbox">
          <label data-replace-tmp-key="2c2fb6d9630510f8721fb57d8c90d50c"><os-p key="2c2fb6d9630510f8721fb57d8c90d50c"><input type="checkbox" value="remember-me">Rester connecté</os-p></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-replace-tmp-key="b6d4223e60986fa4c9af77ee5f7149c5"><os-p key="b6d4223e60986fa4c9af77ee5f7149c5">Se connecter</os-p></button>
      </form>
     </div>

{% endblock %}
